<meta charset="utf-8" />
<meta name="description" content="CHINQ的个人小站" />
<meta name="keywords" content="CHINQ, 博客, 个人网站, {{ page.keywords }}">
<!-- O7I2提供技术支持 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }} | CHINQ</title>
<!-- 加载 CSS 原版 by Github 修改 by O7I2 -->
<link rel="stylesheet" type="text/css" href="https://xp-play.top/assets/css/main.css" />
<link rel="stylesheet" type="text/css" href="https://xp-play.top/assets/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- 加载 JS -->
<script src="https://xp-play.top/assets/js/basic.js"></script>
<!-- 暗黑模式切换脚本 by O7I2 -->
<script src="https://xp-play.top/assets/js/darkmode.other.js"></script>
<script src="https://xp-play.top/assets/js/fun.js"></script>
<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>