<meta charset="utf-8" />
<meta name="description" content="O7I2的个人小站, {{ page.subtitle }}" />
<meta name="keywords" content="O7I2, XP-Play, 博客, 纯属娱乐, {{ page.keywords }}">
<!-- user-scalable=no | 不可缩放
	 maximum-scale=1.0 | 最大缩放
	 minimum-scale=1.0 | 最小缩放
	 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }} | O7I2的个人小站</title>
<!-- 加载 CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<!-- 百度统计脚本 -->