/* 在a链接后添加图标 */
a:after{
	content:url(/assets/icon/link.png)
}
/* 类名为sl的将不会添加图标 */
a.sl:after,.sl a:after,a.button:after{
	content:""
}
*{
	word-break:keep-all/*;WORD-WRAP:break-word*/
}
.warnbox{
	background-color:yellow;
	text-align:center;
	color:black;
	padding:10px;
	margin-bottom:5px;
}
/*.button{
	
}*/
/* 好看的按钮(不会调色，wsl) */
button,input[type="button"],.button{
	background-color: #0066cc;
	color: #fff;
	font-weight: bold;
	padding: 8px 16px;
	margin: 2px;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 2px;
	font-size: .875em;
	/*box-sizing: border-box;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
	user-select: none;*/
}
button:hover,input[type="button"]:hover,.button:hover{
	background-color: #0066ff;
}
button:active,input[type="button"]:active,.button:active{
	background-color: #0099ff;
	border-radius: 0px;
	outline-color: #0033cc;
	outline-style: groove;
	outline-width: 2px;
}
textarea{
	outline: 0;
	width: 450px;
	height: 120px;
	padding: 10px;
	border-radius: 0px;
}
textarea:hover{
	outline-color: #0066ff;
	outline-style: groove;
	outline-width: 2px;
}