<!DOCTYPE html>
<!-- 修改过的Github主题 by O7I2 -->
<html lang="zh-cn">
<head>
{% include head.html %}
</head>
<body>
<!-- 右键菜单 -->
{% include menu.html %}
{% include header.html %}
<!-- Body -->
<div id="main_content_wrap" class="outer">
<section id="main_content" class="inner">
<!-- 一些提示 -->
<div id="warnings">
{% include warnings.html %}
</div>
{{ content }}
</section>
</div>
{% include footer.html %}
<!-- 点击特效 duang duang~的 -->
{% include clickstyle.html %}
<!-- 统计脚本 -->
{% include analysis.html %}
</body>
</html>